
<link href="~/Content/Footer.css" rel="stylesheet" />
<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-column">
            <h4>Cộng đồng</h4>
            <div class="social-icons">
                <a href="#" aria-label="X"><i class="fab fa-twitter"></i></a>
                <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" aria-label="Discord"><i class="fab fa-discord"></i></a>
                <a href="#" aria-label="Reddit"><i class="fab fa-reddit-alien"></i></a>
                <a href="#" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
                <a href="#" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            </div>
            <h4 class="extra-margin-top">Về chúng tôi</h4>
            <ul>
                <li><a href="#">Sứ mệnh và tầm nhìn</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Thông báo</a></li>
                <li><a href="#">Tin tức</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>Ăn uống </h4>
            <ul>
                <li><a href="#">Trang chủ mua món ăn trực tuyến</a></li>
                <li><a href="#">Món nước</a></li>
                <li><a href="#">Món khô</a></li>
            </ul>
            <h4 class="extra-margin-top">Sản phẩm</h4>
            <ul>
                <li><a href="#">Nước</a></li>
                <li><a href="#">Cơm</a></li>
                <li><a href="#">Topping</a></li>
                <li><a href="#">Món khô</a></li>
                <li><a href="#">Đồ ăn vặt</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>Sự bền vững</h4>
            <ul>
                <li><a href="#">Môi trường</a></li>
                <li><a href="#">Trợ năng</a></li>
                <li><a href="#">Bảo mật & quyền riêng tư</a></li>
            </ul>
            <h4 class="extra-margin-top">Tài khoản</h4>
            <ul>
                <li><a href="#">Trang của tôi</a></li>
                <li><a href="#">Đơn hàng của tôi</a></li>
                <li><a href="#">Khuyến mãi</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>Hỗ trợ</h4>
            <ul>
                <li><a href="#">Hướng dẫn</a></li>
                <li><a href="#">Chính sách bảo hành</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>
                <li><a href="#">Tìm kiếm</a></li>
                <li><a href="#">Hỗ trợ trực tuyến</a></li>
                <li><a href="#">Gửi ý kiến phản hồi</a></li>
                <li><a href="#">Tình trạng sửa chữa</a></li>
                <li><a href="#">Ngôn ngữ ký hiệu</a></li>
                <li><a href="#">Phản hồi & góp ý</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>Tải ứng dụng</h4>
            <div class="app-buttons">
                <a href="#"><img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="Download on the App Store"></a>
                <a href="#"><img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" alt="Get it on Google Play"></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>Bản quyền website thuộc ShopNPC© 2025</p>
    </div>
</footer>
    
