

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Giỏ hàng trống";
    }


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GioHangTrong</title>
    <link href="~/Content/GioHangTrong.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="trang-gio-hang-trong">
            <div class="noi-dung-chinh">
                <div class="bieu-tuong-gio-hang">🛒</div>
                <h1 class="thong-bao-trong">Giỏ hàng đang trống</h1>
                <div class="khu-vuc-nut-bam">
                    <a href="/" class="nut nut-tiep-tuc-mua-sam">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
