body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Xếp các con (header, main, footer) theo chiều dọc */
    min-height: 100vh; /* Đảm bảo body cao ít nhất bằng màn hình */
}

.Banner {
    display: flex;
    height: 300px;
    width: 1170px;
    border-radius: 25px;
    
    background-image: url('../images_landingpage/bannertaingheloa.jpg');
    padding: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-position: center; /*Căn ảnh vào giữa, để phần đẹp nhất lộ ra */
    background-repeat: no-repeat; /*Không lặp lại ảnh */
    margin-bottom: 40px;
    background-size: contain;
}

.Bo_Khung_San_Pham {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    gap: 22px;
    flex-direction: column; /*  ép các phần tử con (chữ + danh sách sản phẩm) xếp dọc */
    align-items: center; /* canh giữa ngang */
}

.Bo_Khung_San_Pham_Title {
    font-size: 36px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: sans-serif;
    color: #000;
}

.Danh_Sach_San_Pham {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    padding: 0 15px;
    width: 100%;
}


.The_San_Pham {
    border-radius: 16px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    background: #FFF;
    width: 273px;
    height: 460px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.The_San_Pham_Luoi {
    display: grid;
    justify-items: center;
    flex-grow: 1;
    gap: 16px; /* Khoảng cách giữa các ảnh */
}

.TheSanPham_HinhAnh {
    width: 232px;
    height: 232px;
    object-fit: cover; /* Đảm bảo ảnh lấp đầy khung mà không bị méo */
    cursor: pointer;
    border-radius: 4px;
    margin-top: 38px;
}

.TheSanPham_TenThietBi {
    margin-top: 28px;
    margin-bottom: 19px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif
}

.TheSanPham_Gia {
    margin: 8px 0 32px 0;
    font-size: 18px;
    font-weight: 600;
    color: #FF7506;
    font-family: sans-serif;
    text-align: center;
}



/* --- Tổng thể --- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Màu nền trắng cho trang */
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

    a:hover {
        color: #000;
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
