
@{
    ViewBag.Title = "Món rau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Monrau.css" rel="stylesheet" />

<div>
    <div class="Bo_Khung_San_Pham">
        <p class="Bo_Khung_San_Pham_Title">Món rau</p>
        <a class="Banner"></a>

        <div class="Danh_Sach_San_Pham">
            <div class="The_San_Pham">
                <a href="@Url.Action("ProductDetail", "Home", new { id = 13 })">
                    <img class="TheSanPham_HinhAnh" src="~/images_LandingPage/raulangxao.jpg" />
                    <p class="TheSanPham_TenThietBi">Rau lang xào tỏi </p>
                    <p class="TheSanPham_Gia">190.000đ</p>
                </a>

            </div>

            <div class="The_San_Pham">
                <a href="@Url.Action("ProductDetail", "Home", new { id = 14 })">
                    <img class="TheSanPham_HinhAnh" src="~/images_LandingPage/caingongxaonam.jpg" />
                    <p class="TheSanPham_TenThietBi">Cải ngồng xào nấm hương</p>
                    <p class="TheSanPham_Gia">120.000đ</p>
                </a>

            </div>

            <div class="The_San_Pham">
                <a href="@Url.Action("ProductDetail", "Home", new { id = 15 })">
                    <img class="TheSanPham_HinhAnh" src="~/images_LandingPage/dauque.jpg" />
                    <p class="TheSanPham_TenThietBi">Đậu que xào mè</p>
                    <p class="TheSanPham_Gia">140.000đ</p>
                </a>

            </div>

            <div class="The_San_Pham">
                <a href="@Url.Action("ProductDetail", "Home", new { id = 16 })">
                    <img class="TheSanPham_HinhAnh" src="~/images_LandingPage/caithia.jpg" />
                    <p class="TheSanPham_TenThietBi">Cải thìa xào dầu hào</p>
                    <p class="TheSanPham_Gia">150.000đ</p>
                </a>

            </div>
        </div>

    </div>
</div>

