body {
    margin: 0;
    padding: 0;
}



.Nen_trang {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-family: sans-serif;
    background-color: white;
}

.hop-dangky {
    background-color: white;
    border-radius: 16px;
    border: 1px solid #D9D9D9;
    padding: 32px 40px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    width: 500px;
    height: 745px;
}

.Tieu_de {
    text-align: center;
    margin-bottom: 8px;
    font-size: 30px;
}

.Mo_ta {
    text-align: center;
    color: #555;
    font-size: 14px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.form_dang_ky {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.o-nhap {
    border: 1px solid #ccc;
    border-radius: 12px;
    border-color: #ff8b8b;
    padding: 10px 12px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.hang-input {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}

.toan-hang {
    margin-bottom: 16px;
}

.nhan {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

.yeu-cau {
    list-style: none;
    padding-left: 0;
    color: #777;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 16px;
}

    .yeu-cau li::before {
        content: "✔ ";
        color: #bbb;
    }


/* Nút */
.hang-nut {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nut {
    border: none;
    border-radius: 12px;
    padding: 10px 0;
    width: 48%;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nut-trang {
    background-color: white;
    border: 1px solid #ccc;
}

    .nut-trang:hover {
        background-color: #f7f7f7;
    }

.nut-do {
    background-color: #ffa7a7;
    color: white;
}

    .nut-do:hover {
        background-color: #ff8b8b;
    }
