
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WelcomeBack</title>
    <link href="~/Content/WelcomeBack.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="welcome-container">

            <h2 class="welcome-title">Chào mừng bạn  
            <br> trở lại với ShopNPC</h2>

            <svg class="user-icon" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40 40C49.2047 40 56.6667 32.5381 56.6667 23.3333C56.6667 14.1286 49.2047 6.66666 40 6.66666C30.7953 6.66666 23.3333 14.1286 23.3333 23.3333C23.3333 32.5381 30.7953 40 40 40Z" stroke="#4B5563" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M63.3333 73.3333C63.3333 65.4275 60.1726 57.8279 54.5997 52.255C49.0268 46.6821 41.4272 43.5215 33.5215 43.5215H46.4785C38.5728 43.5215 30.9732 46.6821 25.4003 52.255C19.8274 57.8279 16.6667 65.4275 16.6667 73.3333" stroke="#4B5563" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <div class="user-email">phuc32961@gmail.com@gmail.com</div>

            <p class="welcome-subtitle">
               Chào mừng bạn đã trở lại<br>
                
            </p>

            <a href="/home/LandingPage" class="complete-button">
                Tiếp tục
            </a>

        </div>
    </div>
</body>
</html>
